#main{
    margin: 30px auto; 
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 10px;
    flex-wrap: wrap;
}

.content {
  font-family: 'Fira Code';
  font-size: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 50px;
  border-radius: 5px; 
  background-color: #e6e6e6;
  white-space: pre-wrap;
}

li{
  list-style-type: none;
}

a{
  text-decoration: none;
}

#li{
  text-align: center;
}